{% load static%}

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Массажный кабинет Камильянова Артема. Будем здоровы!"
    />
    <meta name="keywords" content="massage, массаж, оздоровление" />
    <title>{% block title %} KAMILYANOV_MASSAGE {% endblock %}</title>
    <link
      rel="icon"
      href="{% static 'images\logo_diplom.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css\body.css' %}" />
    <link rel="stylesheet" href="{% static 'css\form.css' %}" />
    <link rel="stylesheet" href="{% static 'images\background.webp' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <header class="sticky-top">{% block header %} {% endblock %}</header>
    <main>{% block content %} {% endblock %}</main>
    {% block footer %}
    <footer class="bg-dark text-white py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
            <h5 id ='footer'>Наши контакты</h5>
            <ul class="list-unstyled">
              <li>
                <i class="bi bi-telephone" id ='footer'></i>
                <a id ='footer'
                  class="text-black text-decoration-none"
                  href="tel:+71234567890"
                  >+7 (123) 456-78-90</a
                >
              </li>
              <li id ='footer'>г. Набережные Челны, просп. Автозаводский, д. 31</li>
              <li id ='footer'>Пн-Пт: 10:00 - 20:00</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-12">
            <h5 id ='footer'>Мы на карте</h5>
            <div class="map-container">
              <script
                type="text/javascript"
                charset="utf-8"
                async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af49ce722afbf7409e1931f84e0c35bd069cacbd936e2d3072809bf306b1f182f&amp;width=720&amp;height=240&amp;lang=ru_RU&amp;scroll=true">
              </script>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
<script type="text/javascript" src={% static "js/form.js" %}></script>
<script type="text/javascript" src={% static "js/menu.js" %}></script>

  </body>
</html>
