{% extends "base.html" %} 
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Массажный кабинет "KAMILYANOV_MASSAGE"</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#masters">Мастера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#orderForm">Запись на массаж</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="row">

    <section class="col-12 mb-4">
      <h2>О нас</h2>
      <p>
        Добро пожаловать в массажный кабинет "KAMILYANOV_MASSAGE" — место, где бесследно уходит стресс, депрессия, нормализуется работа всех систем организма.
        В итоге: Вы словно рождаетесь заново. Индивидуальный подход к каждому гостю. Нам важен каждый!
      </p>
    </section>

    <section id="masters" class="col-12 mb-4">
      <h2>Наши мастера</h2>
      <p>
        В массажном кабинете "KAMILYANOV_MASSAGE" работают настоящие мастера своего дела. Каждый мастер обладает своим стилем и подходом, что делает наш массажный кабинет местом, где каждый найдет своего идеального мастера.
      </p>
      <div id="mastersCarouselIndicators" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {% for master in masters %}
            <button type="button" data-bs-target="#mastersCarouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for master in masters %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ master.photo.url }}" class="d-block w-100" alt="{{ master.first_name }} {{ master.last_name }}">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ master.first_name }} {{ master.last_name }}</h5>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mastersCarouselIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mastersCarouselIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section id="services" class="col-12 mb-4">
      <h2>Услуги</h2>
      <p>
        В массажном кабинете "KAMILYANOV_MASSAGE" мы предлагаем широкий спектр услуг. В "KAMILYANOV_MASSAGE" мы гарантируем, что вы уйдете от нас не только с отличным самочувствием, но и с отличным настроением!
      </p>
      <ol>
        {% for service in services %}
        <b><li>{{ service.name }}</li></b>
        <p><b>Описание:</b> {{ service.description }}</p>
        <p><b>Цена:</b> {{ service.price }} руб.</p>
        {% endfor%}
      </ol>
    </section>

    <section id="orderForm" class="col-12 mb-4">
      <h2>Запись на массаж</h2>
      <p>
        Хотите выглядеть чувствовать себя здоровым и полным сил? Не откладывайте возможность — запишитесь на массаж прямо сейчас! Наши мастера ждут вас. Заполните форму — остальное мы возьмем на себя!
      </p>
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-success">Отправить</button>
      </form>
    </section>

  </div>
</div>
{% endblock %}
